<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fileData.title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <center>
        <h1><%= fileData.title %></h1>
        <p><%= fileData.description %></p>

        <iframe class="img-fluid" src="/uploads/<%= fileData.filePath %>" allowfullscreen style="width: 100%;height: 625px; padding: 10px;"></iframe>
        <a href="/" class="btn btn-primary">Home</a>
    </center>
</body>
</html>